<div class="row">
  <div class="small-2 column faq_sidebar">
    <%= link_to t(:back), :back %>

    <% @questions.each do |question| %>
      <div><%= question.position %>. <%= question.title %></div>
    <% end %>
  </div>
  <div class="small-10 column faq_box">
    <h1><%= t('backend.faq.questions') %></h1>

    <% @questions.each do |question| %>
      <div class="faq_question_container">
        <h2 class="faq_question"><%= question.position %>. <%= question.title %></h2>
        <%= question.answer.html_safe %>
      </div>
    <% end %>
  </div>
</div>
