<% content_for(:body_class) { 'home-page' } %>

<div data-equalizer>
  <div class="small-12 medium-4 column">
    <figure data-equalizer-watch>
      <%= link_to visitors_path  do %>
        <%= image_tag 'homepage/agendas.jpg', alt: t('home.agendas_title') %>
      <% end %>
      <div class="content">
        <%= link_to visitors_path  do %>
          <p><strong><%= t'home.agendas_title' %></strong></p>
        <% end %>
        <p>
          <%= t'home.agendas_description' %>
        </p>
      </div>
    </figure>
  </div>
  <div class="small-12 medium-4 column">
    <figure data-equalizer-watch>
      <%= link_to organizations_path do %>
        <%= image_tag 'homepage/lobby-register.jpg', alt: t('home.register_lobby_title') %>
      <% end %>
      <div class="content">
        <%= link_to registration_lobbies_index_path do %>
          <p><strong><%= t'home.register_lobby_title' %> </strong></p>
        <% end %>
        <p>
          <%= t'home.register_lobby_description' %>
        </p>

      </div>
    </figure>
  </div>
  <div class="small-12 medium-4 column">
    <figure data-equalizer-watch>
      <%= link_to 'https://transparencia.madrid.es/portales/transparencia/es/Informacion-juridica/Huella-normativa?vgnextfmt=default&vgnextchannel=4099508929a56510VgnVCM1000008a4a900aRCRD', target: 'blank' do  %>
        <%= image_tag 'homepage/normative-footprint.jpg', alt: t('home.regulations_title')%>
      <% end %>

      <div class="content">
        <%= link_to 'https://transparencia.madrid.es/portales/transparencia/es/Informacion-juridica/Huella-normativa?vgnextfmt=default&vgnextchannel=4099508929a56510VgnVCM1000008a4a900aRCRD', target: 'blank' do  %>
          <p><strong><%= t'home.regulations_title' %></strong></p>
        <% end %>
        <p>
          <%= t'home.regulations_description' %>
        </p>
      </div>
    </figure>
  </div>
</div>

<div class="small-12 column content-text">
  <hr />
  <p>
    <strong><%= t'home.generic_text_title' %></strong><br />
    <%= t'home.generic_text_block_1_html' %>
  </p>

  <ul>
    <li><%= t'home.generic_text_list_first' %></li>
    <li><%= t'home.generic_text_list_second' %></li>
    <li><%= t'home.generic_text_list_third' %></li>
  </ul>

  <p>
    <br />
    <%= t'home.generic_text_finish_html' %>
  </p>
</div>
