<% content_for(:body_class) { 'home-page' } %>

<div class="small-12 medium-4 column">
  <figure>
    <%= image_tag 'homepage/agendas.png', class: '', alt:'Agenda públicas'%>
    <div class="content">
      <p><strong><%= t'home.agendas_title' %></strong></p>
      <p>
        <%= t'home.agendas_description' %>
      </p>
      <%= link_to t('btn_access'), visitors_path  %>
    </div>
  </figure>
</div>

<div class="small-12 medium-4 column">
  <figure>
    <%= image_tag 'homepage/lobby-register.jpg', class: '', alt:'Registro de Lobbies'%>
    <div class="content">
      <p><strong><%= t'home.register_lobby_title' %> </strong></p>
      <p>
        <%= t'home.register_lobby_description' %>
      </p>
      <%= link_to t('btn_access'), organizations_path  %>
    </div>
  </figure>
</div>

<div class="small-12 medium-4 column">
  <figure>
    <%= image_tag 'homepage/normative-footprint.jpg', class: '', alt:'Huella normativa'%>
    <div class="content">
      <p><strong><%= t'home.regulations_title' %></strong></p>
      <p>
          <%= t'home.regulations_description' %>
      </p>
      <%= link_to t('btn_access'), root_path  %>
    </div>
  </figure>
</div>

<div class="small-12 column">
  <hr />
  <p>
    <%= t'home.generic_text' %>
  </p>
</div>
