<div class="small-12 column">
  <h1><%= t "accessibility.title" %></h1>
  <p><%= t "accessibility.description.part1" %></p>

  <p><%= t "accessibility.description.part2" %></p>

  <ul>
    <li><%= t "accessibility.features.alternative" %></li>
    <li><%= t "accessibility.features.subtitles_html" %></li>
    <li><%= t "accessibility.features.simple_contents_html" %></li>
    <li><%= t "accessibility.features.movility_html" %></li>
  </ul>

  <h2><%= t "accessibility.keyboard.title" %></h2>

  <p><%= t "accessibility.keyboard.description" %></p>

  <div class="small-12 medium-6">
    <table>
      <caption class="show-for-sr"><%= t "accessibility.keyboard.navigation.title" %></caption>
      <thead>
        <tr>
          <th scope="col" class="text-center"><%= t "accessibility.keyboard.navigation.key" %></th>
          <th scope="col"><%= t "accessibility.keyboard.navigation.page" %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">0</td>
          <td><%= t "accessibility.keyboard.navigation.home" %></td>
        </tr>
        <tr>
          <td class="text-center">1</td>
          <td><%= t "accessibility.keyboard.navigation.agendas" %></td>
        </tr>
        <tr>
          <td class="text-center">2</td>
          <td><%= t "accessibility.keyboard.navigation.lobbies" %></td>
        </tr>
        <tr>
          <td class="text-center">3</td>
          <td><%= t "accessibility.keyboard.navigation.normative_fingerprint" %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <p><%= t "accessibility.keyboard.shortcuts.description" %></p>

  <div class="small-12 medium-6">
    <table>
      <caption class="show-for-sr"><%= t "accessibility.keyboard.shortcuts.description" %></caption>
      <thead>
        <tr>
          <th scope="col"><%= t "accessibility.keyboard.shortcuts.navigator" %></th>
          <th scope="col"><%= t "accessibility.keyboard.shortcuts.shorcut" %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Explorer</td>
          <td><%= t "accessibility.keyboard.shortcuts.explorer_shortcut" %></td>
        </tr>
        <tr>
          <td>Firefox</td>
          <td><%= t "accessibility.keyboard.shortcuts.firefox_shortcut" %></td>
        </tr>
        <tr>
          <td>Chrome</td>
          <td><%= t "accessibility.keyboard.shortcuts.chrome_shortcut" %></td>
        </tr>
        <tr>
          <td>Safari</td>
          <td><%= t "accessibility.keyboard.shortcuts.safari_shortcut" %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <h2><%= t "accessibility.text_size.title" %></h2>
  <p><%= t "accessibility.text_size.description" %></p>

  <div class="small-12 medium-6">
    <table>
      <thead>
        <tr>
          <th scope="col"><%= t "accessibility.keyboard.shortcuts.navigator" %></th>
          <th scope="col"><%= t "accessibility.text_size.action_to_do" %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Explorer</td>
          <td><%= t "accessibility.text_size.explorer" %></td>
        </tr>
        <tr>
          <td>Firefox</td>
          <td><%= t "accessibility.text_size.firefox" %></td>
        </tr>
        <tr>
          <td>Chrome</td>
          <td><%= t "accessibility.text_size.chrome" %></td>
        </tr>
        <tr>
          <td>Safari</td>
          <td><%= t "accessibility.text_size.safari" %></td>
        </tr>
        <tr>
          <td>Opera</td>
          <td><%= t "accessibility.text_size.opera" %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <p><%= t "accessibility.text_size.commands.title" %></p>

  <ul>
    <li><%= t "accessibility.text_size.commands.increase_html" %></li>
    <li><%= t "accessibility.text_size.commands.decrease_html" %></li>
  </ul>

  <h2><%= t "accessibility.compatibility.title" %></h2>

  <p><%= t "accessibility.compatibility.description1_html" %></p>
  <p><%= t "accessibility.compatibility.description2" %></p>

  <p><%= image_tag "logo_wcag1AA.gif", alt: "Logo accesbilidad AA" %></p>

  <h2><%= t "accessibility.suggestions.title" %></h2>
  <p><%= t "accessibility.suggestions.description_html", link: "https://www-s.munimadrid.es/SYR_003_WACiudadanos/iniciar.do?procedimiento=200" %></p>
</div>