<div class="small-12 column">
  <h1><%= t "websitemap.title" %></h1>
  <meta name="Description" content="<%=t 'websitemap.content'%>" >

  <p><a href="/"><%= t "websitemap.cover_page" %></a></p>
  <p><a href="/visitors"><%= t "websitemap.agendas" %></a></p>
  <p><%= link_to t("websitemap.registration_lobbies"), registration_lobbies_path %></p>
    <ul>
    <li><%= link_to t("websitemap.search_lobbies"), organizations_path %></li>
    <li><%= link_to t("websitemap.update_lobbies"), edit_organization_path %></li>
    <li><%= link_to t("websitemap.rules_lobbies"), "/faq#faq_24" %></li>
    <li><%= link_to t("websitemap.faq"), faq_path %></a></li>
    <li><%= link_to t("websitemap.stadistics"), statistics_path %></li>
    <li><%= link_to t("websitemap.mailbox"), new_infringement_email_path %></li>
    <li><%= link_to t("websitemap.regulations_lobbies"), registration_lobbies_path %></li>
    </ul>
</div>
