<div class="small-12 column">
  <h1><%= t "websitemap.title" %></h1>
  <meta name="Description" content="<%=t 'websitemap.content'%>" >

  <p><a href="/"><%= t "websitemap.cover_page" %></a></p>
  <p><a href="/visitors"><%= t "websitemap.agendas" %></a></p>
  <p><a href="/registration_lobbies/index"><%= t "websitemap.registration_lobbies" %></a></p>
    <ul>
    <li><a href="/registration_lobbies/index"><%= t "websitemap.search_lobbies" %></a></li>
    <li><a href="/organizations/edit"><%= t "websitemap.update_lobbies" %></a></li>
    <li><a href="/faq#faq_24"><%= t "websitemap.rules_lobbies" %></a></li>
    <li><a href="/faq"><%= t "websitemap.faq" %></a></li>
    <li><a href="/"><%= t "websitemap.stadistics" %></a></li>
    <li><a href="/infringement_emails/new"><%= t "websitemap.mailbox" %></a></li>
    </ul>
  <p><a href="/registration_lobbies/index"><%= t "websitemap.regulations_lobbies" %></a></p>
</div>
