<article id="<%= dom_id(event)%>" class="post event">
  <h1 class="post__title"><%= link_to event.title, show_path(event) %></h1>
  <p><strong>
    <%= show_agenda_link(event.position.holder) %> ·
    <%= event.position.title.custom_titleize %> ·
    <%= event.position.area.title.custom_titleize %>
  </strong></p>
  <p><%= I18n.l event.scheduled, format: :complete if event.scheduled.present? %></p>
</article>
