<div class="row">
  <div class="small-12 columns">
    <h2 class="title-l"><%= t('main.title')%></h2>
  </div>
</div>

<div class="row">
  <div class="small-4 large-centered columns">
    <%= form_for @message, url: '', html: { role: 'form'} do |f| %>
      <h3><%= t('contact.message') %></h3>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :message %>
        <%= f.text_area :message, class: 'form-control' %>
      </div>
      <%= show_simple_captcha %>
      <%= f.submit t('contact.send'), :class => 'button right' %>
    <% end %>
  </div>
</div>
