<% content_for(:body_class) { 'visitors-events' } %>

<div class="row">

  <%= render 'form' %>

  <div class="small-12 large-7 large-ofsset-1 columns mb40">

    <div class="row">
      <%= show_headline(params) %>
    </div>

    <div class="small-12 columns tools">
      <div class="mb20">
        <%= t('main.get_updates')%><a href="<%= current_url(:format=>:atom)%>"><span class="icon icon__feed"></span> feed</a>
        <%= export_link(current_url(format: :csv)) %>
      </div>

      <div class="small-9 columns text-right">
        <label for="right-label" class="inline title-xs"><%= t('main.form.order_by')%></label>
      </div>
      <div class="small-3 columns  no-padding">
        <%= select_tag :order, options_for_select({t('main.form.scheduled') => :scheduled ,t('main.form.score') => :score},params[:order]), id: 'search-order', class: 'select-sm' %>
      </div>
    </div>

    <% @paginated_events.each do |event|%>
      <%= render "visitors/event", event: event %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="small-12 large-7 small-offset-1 columns right mb20">
    <div class="text-center">
      <%= paginate @events.hits %>
    </div>
  </div>
</div>


<%= javascript_include_tag 'search_form'%>
