<% content_for :title, t('site_title') + @event.title %>
<div class="row">
  <div class="small-12 large-8 columns">

    <strong class="post__date"><%= I18n.l @event.scheduled, :format => :complete %></strong>

    <h2 class="post__title-big"><%= @event.title %></h2>

    <div class="row mb40">
      <div class="small-2 large-2 columns">
        <%= social_share_button_tag(@event.title) %>
      </div>
      <div class="small-2 large-1 columns end"><a href="#" onclick="window.print();"><span class="icon icon__print">Imprimir</span></a></div>
    </div>

  </div>
</div>

<div class="row mb40">
  <div class="small-12 large-3 columns">
    <strong class="post__subtitle"><%= t('show.holder')%></strong>
  </div>
  <div class="small-12 large-7 end columns">
    <p class="post__description">
      <strong><%= show_agenda_link(@event.position.holder) %></strong>
    </p>
    <p><%= @event.position.title.titleize %></p>
    <p><%= @event.position.area.title.titleize %></p>
  </div>
</div>

<div class="row mb40">
  <div class="small-12 large-3 columns">
    <strong class="post__subtitle"><%= t('show.participants')%></strong>
  </div>
  <div class="small-12 large-7 end columns">
    <% @event.attendees.each do |attendee|%>
      <p class="post__description">
        <strong><%= attendee.name %></strong>
      </p>
      <p><%= attendee.position %></p>
      <p><%= attendee.company %></p>
      <br />
    <% end %>
    <% @event.participants.each do |participant|%>
    <p class="post__description">
      <strong><%= show_agenda_link(participant.position.holder) %></strong>
    </p>
    <p><%= participant.position.title.titleize %></p>
    <p><%= participant.position.area.title.titleize %></p>
    <br />
    <% end %>
  </div>
</div>

<div class="row mb40">
  <div class="small-12 large-3 columns">
    <strong class="post__subtitle"><%= t('show.location')%></strong>
  </div>
  <div class="small-12 large-7 end columns">
    <p class="post__text"><%= @event.location %></p>
  </div>
</div>

<div class="row mb40">
  <div class="small-12 large-3 columns">
    <strong class="post__subtitle"><%= t('show.description')%></strong>
  </div>
  <div class="small-12 large-7 end columns">
    <p class="post__text"><%= @event.description.html_safe%></p>
  </div>
</div>

<% if @event.attachments.count > 0 %>
<div class="row mb40">
  <div class="small-12 large-3 columns">
    <strong class="post__subtitle"><%= t('show.documentation')%></strong>
  </div>
  <div class="small-12 large-7 end columns">
    <% @event.attachments.each do |attachment| %>
      <p class="post__text mb20"><%= link_to attachment.title, attachment.file.url %></p>
    <% end %>
  </div>
</div>
<% end %>

<!--
<div class="row">
  <div class="small-12 columns">
    <p><%= link_to t('main.any_errors'), '' %></p>
  </div>
</div>
-->
