<% content_for :title, t('site_title') + @event.title %>
<div class="row">
  <div class="small-12 large-12 columns">
    <%= link_to '<< '+ t('main.back'), :back, class: 'right' %>
  </div>
</div>
<div class="row">
  <div class="small-12 large-8 columns">

    <strong class="post__date"><%= I18n.l @event.scheduled, format: :complete %></strong>

    <h2 class="post__title-big"><%= @event.title %></h2>

    <div class="row mb40">
      <div class="small-2 large-2 columns">
        <%= social_share_button_tag(@event.title) %>
      </div>
      <div class="small-2 large-1 columns end"><a href="#" onclick="window.print();"><span class="icon icon__print">Imprimir</span></a></div>
    </div>

  </div>
</div>

<div class="row mb40">
  <div class="small-12 large-3 columns">
    <strong class="post__subtitle"><%= t('show.holder')%></strong>
  </div>
  <div class="small-12 large-7 end columns">
    <p class="post__description">
      <strong><%= show_agenda_link(@event.position.holder) %></strong>
    </p>
    <p><%= @event.position.title.custom_titleize %></p>
    <p><%= @event.position.area.title.custom_titleize %></p>
  </div>
</div>

<div class="row mb40">
  <div class="small-12 large-3 columns">
    <strong class="post__subtitle"><%= t('show.participants')%></strong>
  </div>
  <div class="small-12 large-7 end columns">
    <% @event.attendees.each do |attendee|%>
      <p class="post__description">
        <strong><%= attendee.name %></strong>
      </p>
      <p><%= attendee.position %></p>
      <p><%= attendee.company %></p>
      <br />
    <% end %>
    <% @event.participants.each do |participant|%>
    <p class="post__description">
      <strong><%= show_agenda_link(participant.position.holder) %></strong>
    </p>
    <p><%= participant.position.title.custom_titleize %></p>
    <p><%= participant.position.area.title.custom_titleize %></p>
    <br />
    <% end %>
  </div>
</div>

<div class="row mb40">
  <div class="small-12 large-3 columns">
    <strong class="post__subtitle"><%= t('show.location')%></strong>
  </div>
  <div class="small-12 large-7 end columns">
    <p class="post__text"><%= @event.location %></p>
  </div>
</div>

<div class="row mb40">
  <div class="small-12 large-3 columns">
    <strong class="post__subtitle"><%= t('show.description')%></strong>
  </div>
  <div class="small-12 large-7 end columns">
    <p class="post__text"><%= @event.description.html_safe if @event.description.present? %></p>
  </div>
</div>

<% if @event.attachments.count > 0 %>
  <div class="row mb40">
    <div class="small-12 large-3 columns">
      <strong class="post__subtitle"><%= t('show.documentation')%></strong>
    </div>
    <div class="small-12 large-7 end columns">
      <% @event.attachments.each do |attachment| %>
        <% unless attachment.public == false %>
          <p class="post__text mb20"><%= link_to attachment.title, attachment.file.url,target: :blank %></p>
          <%= attachment.description %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<% if @event.lobby_activity %>
 Información del lobby:
  <div class="row mb40">
    <div class="small-12 large-3 columns">
      <strong class="post__subtitle">Nombre:</strong>
    </div>
    <div class="small-12 large-7 end columns">
      <%= link_to @event.organization.name, organization_path(@event.organization) %>
    </div>
  </div>

  <div class="row mb40">
    <div class="small-12 large-3 columns">
      <strong class="post__subtitle">Agentes:</strong>
    </div>
    <div class="small-12 large-7 end columns">
      <% @event.event_agents.each do |agent| %>
        <%= agent.name %></p>
      <% end %>
    </div>
  </div>

  <div class="row mb40">
    <div class="small-12 large-3 columns">
      <strong class="post__subtitle">Empresas repesentadas:</strong>
    </div>
    <div class="small-12 large-7 end columns">
      <% @event.event_represented_entities.each do |represented_entity| %>
        <%= represented_entity.name %></p>
      <% end %>
    </div>
  </div>

<% end %>

<!--
<div class="row">
  <div class="small-12 columns">
    <p><%= link_to t('main.any_errors'), '' %></p>
  </div>
</div>
-->
