<div class="small-12 column statistics">
  <h2>
    <%= t'statistics.statistics' %>
  </h2>
  <p>
    <%= t'statistics.description' %>
  </p>

  <ul class="accordion" role = "tablist">
    <li class="accordion-navigation active">
      <div class="accordion-title">
        <%=t 'statistics.category_lobbies' %>
      </div>
      <div class="content active">
        <table class="display" cellpadding="0" width="100%" >
          <thead>
            <tr>
              <th width="40%"><%= t('statistics.category')%></th>
              <th width="15%"><%= t('statistics.amount')%></th>
            </tr>
          </thead>
          <tbody>
            <%@lobby_category.each do|name , number| %>
            <tr>
              <td>
                <%=name%>
              </td>
              <td>
                <%=number%>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </li>

    <li class="accordion-navigation active">
      <div class="accordion-title">
        <%= t'statistics.interest_lobbies' %>
      </div>
      <div class="content active">
        <table class="display" cellpadding="0" width="100%">
          <thead>
            <tr>
              <th width="40%">
                <%= t'statistics.interest' %>
              </th>
              <th width="15%">
                <%= t'statistics.amount' %>
              </th>
            </tr>
          </thead>
          <tbody>
            <%@lobbies_interests.each do|name , number| %>
              <tr>
                <td>
                  <%= name %>
                </td>
                <td>
                  <%= number %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </li>

    <li class="accordion-navigation active">
      <div class="accordion-title">
        <%= t'statistics.description_lobbies' %>
      </div>
      <div class="content active">
        <table>
          <tbody>
            <tr>
              <th rowspan="2" scope="rowgroup" style='text-align:center;vertical-align:middle'>
                <%= t'statistics.inscribed_lobbies' %>
                <br>
                <%= @lobbies_active.count %>
              </th>
              <th scope="row">
                <%= t'statistics.employed' %>
              </th>
              <td>
                <%= self_employed(false).count %>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <%= t'statistics.self_employed' %>
              </th>
              <td>
                <%= self_employed(true).count %>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <%= t'statistics.agents' %>
              </th>
              <td>
                <%= @agent_active%>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>
