<div class="small-12 column statistics">
  <h2>
    <%= t'statistics.statistics' %>
  </h2>
  <p>
    <%= t'statistics.description' %>
  </p>

  <ul class="accordion" role = "tablist">
    <li class="accordion-navigation active">
      <div class="accordion-title">
        <%=t 'statistics.category_lobbies' %>
      </div>
      <div class="content active">
        <table cellpadding="0" width="100%" >
          <thead>
            <tr>
              <th width="40%">
                <%= t'statistics.category' %>
              </th>
              <th width="15%">
                <%= t'statistics.amount' %>
              </th>
            </tr>
          </thead>
          <tbody>
            <%@lobby_category.each do|name , number| %>
            <tr>
              <td>
                <%=name%>
              </td>
              <td>
                <%=number%>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </li>

    <li class="accordion-navigation active">
      <div class="accordion-title">
        <%= t'statistics.interest_lobbies' %>
      </div>
      <div class="content active">
        <table cellpadding="0" width="100%">
          <thead>
            <tr>
              <th width="40%">
                <%= t'statistics.interest' %>
              </th>
              <th width="15%">
                <%= t'statistics.amount' %>
              </th>
            </tr>
          </thead>
          <tbody>
            <%@lobbies_interests.each do|name , number| %>
              <tr>
                <td>
                  <%= name %>
                </td>
                <td>
                  <%= number %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </li>

    <li class="accordion-navigation active">
      <div class="accordion-title">
        <%= t'statistics.description_lobbies' %>
      </div>
      <div class="content active">
        <table width="100%">
          <tbody>
            <tr>
              <th colspan="3">
                <%= t'statistics.inscribed_lobbies' %>
                <br />
                <span><%= @lobbies_active.count %></span>
                <tr>
                  <td class="border-right">
                    <strong>
                      <%= t'statistics.employed' %>
                    </strong>
                    <br />
                    <%= self_employed(false).count %>
                  </td>
                  <td class="border-right">
                    <strong>
                      <%= t'statistics.self_employed' %>
                    </strong>
                    <br />
                    <%= self_employed(true).count %>
                  </td>
                  <td>
                    <strong>
                      <%= t'statistics.agents' %>
                    </strong>
                    <br />
                    <%= @agent_active %>
                  </td>
                </tr>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </li>

    <li class="accordion-navigation active">
      <div class="accordion-title">
        <%= t 'statistics.public_agendas' %>
      </div>
      <div class="content active">
        <table width="100%">
          <tbody>
            <tr>
              <th rowspan="1" scope="rowgroup" >
                <%= t'statistics.lobby_events' %>
              </th>
              <td>
                <%= @event_lobby_activity %>
              </td>
            </tr>
            <tr>
              <th rowspan="1" scope="rowgroup">
                <%= t'statistics.total_events' %>
              </th>
              <td>
                <%= @event_all %>
              </td>
            </tr>
            <tr>
              <th rowspan="1" scope="rowgroup">
                <%= t'statistics.amount_public_agendas' %>
              </th>
              <td>
                <%= @holder_all %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>

  </ul>
</div>
