<% content_for(:body_class) { 'registration-lobbies' } %>
<div class="row" data-equalizer>
  <div class="small-12 medium-4 column">
    <figure data-equalizer-watch>
      <%= link_to organizations_path do %>
        <%= image_tag 'homepage/query-documents.jpg', alt: t('registration_lobbies_index.registration_lobbies.registry_query_title') %>
      <% end %>
      <div class="content">
        <%= link_to organizations_path do %>
          <p><strong><%= t 'registration_lobbies_index.registration_lobbies.registry_query_title' %></strong></p>
        <% end %>
        <p>
          <%= t 'registration_lobbies_index.registration_lobbies.registry_query_description' %>
        </p>
      </div>
    </figure>
  </div>

  <div class="small-12 medium-4 column">
    <figure data-equalizer-watch>
      <%= link_to 'https://sede.madrid.es', taget: 'blank'  do %>
        <%= image_tag 'homepage/drop-out.jpg', alt: t('registration_lobbies_index.subscribe_unsubscribe.subscribe_unsubscribe_title')%>
      <% end %>
      <div class="content">
        <%= link_to 'https://sede.madrid.es', taget: 'blank'  do %>
          <p><strong><%= t'registration_lobbies_index.subscribe_unsubscribe.subscribe_unsubscribe_title' %></strong></p>
        <% end %>
        <p>
          <%= t'registration_lobbies_index.subscribe_unsubscribe.subscribe_unsubscribe_description' %>
        </p>

      </div>
    </figure>
  </div>

  <div class="small-12 medium-4 column">
    <figure data-equalizer-watch>
      tiene que ir a FAQ > "Control y Sanciones"
      <%= link_to faq_path(:anchor => 'faq_24') do %> <!-- 24 is the id position of the question assigned in the backend. It's not a good idea because if changed the position after scroll in the wrong position --->
        <%= image_tag 'homepage/regulations.jpg', alt: t('registration_lobbies_index.normative.normative_title') %>
      <% end %>
      <div class="content">
        <%= link_to faq_path(:anchor => 'faq_24') do %>
          <p><strong><%= t'registration_lobbies_index.normative.normative_title' %></strong></p>
        <% end %>
        <p>
          <%= t'registration_lobbies_index.normative.normative_description' %>
        </p>
      </div>
    </figure>
  </div>
</div>

<div class="row" data-equalizer>
  <br />
  <div class="small-12 medium-4 column">
    <figure data-equalizer-watch>
      <%= link_to faq_path  do %>
        <%= image_tag 'homepage/faq.jpg', alt: t('registration_lobbies_index.questions.question_title') %>
      <% end %>
      <div class="content">
        <%= link_to faq_path  do %>
          <p><strong><%= t'registration_lobbies_index.questions.question_title' %></strong></p>
        <% end %>
        <p>
          <%= t'registration_lobbies_index.questions.question_description' %>
        </p>
      </div>
    </figure>
  </div>

  <div class="small-12 medium-4 column">
    <figure data-equalizer-watch>
      <%= link_to 'falta link' do %>
        <%= image_tag 'homepage/stats.jpg',  alt: t('registration_lobbies_index.stats.stats_title') %>
      <% end %>
      <div class="content">
        <%= link_to 'falta link' do %>
          <p><strong><%= t'registration_lobbies_index.stats.stats_title' %></strong></p>
        <% end %>
        <p>
          <%= t'registration_lobbies_index.stats.stats_description' %>
        </p>
      </div>
    </figure>
  </div>

  <div class="small-12 medium-4 column">
    <figure data-equalizer-watch>
      <%= link_to new_infringement_email_path do %>
        <%= image_tag 'homepage/breaches.jpg', alt: t('registration_lobbies_index.defaults_mailbox.mailbox_title') %>
      <% end %>
      <div class="content">
        <%= link_to new_infringement_email_path do %>
          <p><strong><%= t'registration_lobbies_index.defaults_mailbox.mailbox_title' %></strong></p>
        <% end %>
        <p>
          <%= t'registration_lobbies_index.defaults_mailbox.mailbox_description' %>
        </p>
      </div>
    </figure>
  </div>

  <div class="small-12 column">
    <hr />
    <p>
      <strong><%= t'registration_lobbies_index.generic_text_title' %></strong>
    </p>
    <p>
      <%= t'registration_lobbies_index.generic_text_block_first' %>
    </p>
    <p>
      <%= t'registration_lobbies_index.generic_text_block_second' %>
    </p>
    <p>
      <%= t'registration_lobbies_index.generic_text_block_third_html' %>
      Tiene que ir a FAQ y a > ¿Qué es el Registro de Lobbies?

    </p>
  </div>
</div>
