<% content_for(:body_class) { 'registration-lobbies' } %>
<div class="row">
  <div class="small-12 medium-4 column">
    <figure>
      <%= image_tag 'homepage/agendas.png', class: '', alt:'Agenda públicas'%>
      <div class="content">
        <p><strong><%= t 'registration_lobbies.registry_query_title' %></strong></p>
        <p>
          <%= t 'registration_lobbies.registry_query_description' %>
        </p>
        <%= link_to t('btn_access'), organizations_path  %>
      </div>
    </figure>
  </div>

  <div class="small-12 medium-4 column">
    <figure>
      <%= image_tag 'homepage/drop-out.jpg', class: '', alt:'Registro de Lobbies'%>
      <div class="content">
        <p><strong><%= t'subscribe_unsubscribe.subscribe_unsubscribe_title' %></strong></p>
        <p>
          <%= t'subscribe_unsubscribe.subscribe_unsubscribe_description' %>
        </p>
        <%= link_to t('btn_access'), organizations_path  %>
      </div>
    </figure>
  </div>

  <div class="small-12 medium-4 column">
    <figure>
      <%= image_tag 'homepage/regulations.jpg', class: '', alt:'Huella normativa'%>
      <div class="content">
        <p><strong><%= t'normative.normative_title' %></strong></p>
        <p>
          <%= t'normative.normative_description' %>
        </p>
        <%= link_to t('btn_access'), code_of_conduct_path  %>
      </div>
    </figure>
  </div>
</div>

<div class="row">
  <br />
  <div class="small-12 medium-4 column">
    <figure>
      <%= image_tag 'homepage/faq.jpg', class: '', alt:'Huella normativa'%>
      <div class="content">
        <p><strong><%= t'questions.question_title' %></strong></p>
        <p>
          <%= t'questions.question_description' %>
        </p>
        <%= link_to t('btn_access'), faq_path  %>
      </div>
    </figure>
  </div>

  <div class="small-12 medium-4 column">
    <figure>
      <%= image_tag 'homepage/breaches.jpg', class: '', alt:'Huella normativa'%>
      <div class="content">
        <p><strong><%= t'defaults_mailbox.mailbox_title' %></strong></p>
        <p>
          <%= t'defaults_mailbox.mailbox_description' %>
        </p>
        <%= link_to t('btn_access'), root_path  %>
      </div>
    </figure>
  </div>

  <div class="small-12 column">
    <hr />
    <p>
      <%= t'generic_style' %>
    </p>
  </div>
</div>
