<%= form_for(@user) do |f| %>

    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this video from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <fieldset>

      <legend>Datos básicos</legend>

      <label>Nombre</label>
      <%= f.text_field :first_name %>

      <label>Apellidos</label>
      <%= f.text_field :last_name %>

      <label>Email</label>
      <%= f.text_field :email %>


    </fieldset>

      <% if @user.persisted? %>
        <fieldset>

          <legend><%= t('backend.holders') %></legend>

          <div id="tasks">
            <%= f.fields_for :manages do |manage| %>
                <%= render 'manage_fields', f: manage %>
            <% end %>
            <div class="left inline">
              <%= link_to_add_association 'Add holder', f, :manages, :class => "button tiny info alert " %>
            </div>
          </div>
        </fieldset>

      <% end %>

      <%= submit_tag "Guardar", :class=> "button  radius success right" %>


<% end %>