<%= form_for(@user) do |f| %>

    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this video from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <fieldset>

      <legend>Datos básicos</legend>

      <label>Nombre</label>
      <%= f.text_field :first_name %>

      <label>Apellidos</label>
      <%= f.text_field :last_name %>

      <label>Email</label>
      <%= f.text_field :email %>

      <%= submit_tag "Guardar", :class=> "button radius success right" %>
    </fieldset>

<% end %>