<%= form_for @user, html: {class:'smart-form', novalidate: 'novalidate'} do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this video from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <fieldset>
      <section>
        <label for="name" class="input">
          <%= f.text_field :name, placeholder: 'Nombre' %>
        </label>
      </section>

      <section>
        <label for="email" class="input">
          <%= f.text_field :email, placeholder: 'Email' %>
        </label>
      </section>

      <% if params[:action]=="new" || params[:action]=="create" %>

      <section>
        <label for="password" class="input">
          <%= f.password_field :password, placeholder: 'Contraseña' %>
        </label>
      </section>

      <section>
        <label for="password_confirmation" class="input">
          <%= f.password_field :password_confirmation, placeholder: 'Repita Contraseña' %>
        </label>
      </section>

      <% end %>

    </fieldset>
    <footer>
    <%= f.submit 'Save', class: 'btn btn-primary' %>
    <%= link_to 'Cancel', users_path, class: 'btn btn-danger'%>
    </footer>

<% end %>
