<div class="row">
  <h1>
    <%= t('backend.users')%> (<%= @users.count %>)
    <%= link_to t('backend.new_user'), new_user_path, :class => "button radius warning right" if can? :create, User %>
  </h1>
</div>
<div class="row">
  <table id="listing" class="display" cellpadding="0" width="100%">
    <thead>
    <tr>
      <th><%= t('backend.name')%></th>
      <th><%= t('backend.role')%></th>
      <th><%= t('backend.positions')%></th>
      <th><%= t('backend.actions')%></th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <th><%= t('backend.name')%></th>
      <th><%= t('backend.role')%></th>
      <th><%= t('backend.positions')%></th>
      <th><%= t('backend.actions')%></th>
    </tr>
    </tfoot>
    <tbody>
    <% @users.each do |user| %>
        <tr>
          <td>
            <%= link_to user.full_name_comma, user_path(user) %><br />
            <%= user.email %>
          </td>
          <td>
            <%= user.role.capitalize %>
          </td>
          <td>
            <% user.manages.map{|h| h.holder}.each do |h| %>
                <%= link_to h.full_name, holder_path(h) %><br />
            <% end %>
          </td>
          <td>
            <%= link_to edit_user_path(user), title: t('backend.edit') do %>
              <i class="step fi-page-edit size-24"></i>
            <% end if can? :edit, User %>

            <%= link_to user_path(user), method: :delete, data: { confirm: t("backend.confirm") }, title: t('backend.delete') do%>
              <i class="step fi-page-delete size-24"></i>
            <% end if can? :delete, User%>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= javascript_include_tag 'admin_listings' %>

