


<h1><%= t('backend.contributors')%></h1>

  <!-- Search organizations -->
    <%= form_tag(search_users_path, :method=>'post') do %>
    <div class="row">
      <div class="small-12 medium-6 column">
        <%= text_field_tag :q, params[:q],:placeholder => "Nombre" %>
      </div>
      <div class="form-inline small-12 medium-6 column">
        <input type="submit" name="commit" value="Buscar" class="button radius success">
      </div>
    </div>
  <% end %><!-- /. Search organizations -->


  <h2>Resultados (<%= @users.total_entries %>)</h2>


<%= will_paginate @users, :params => { :q => params[:q] }, renderer: FoundationPagination::Rails %>


  <table>
    <thead>
    <tr>
      <th>Nombre</th>

      <th>Contribuye a</th>
      <th>Acciones</th>

    </tr>
    </thead>
    <tbody>
    <% @users.each do |u| %>
    <tr>
      <td>
        <p><%= link_to u.name, u %><br>
        <%= u.email %></p>
      </td>
      <td>
        <% u.manages.map{|h| h.holder.full_name}.each do |m| %>


        <%= m %><br>
            <% end %>
      </td>
      <td>Edit · Delete</td>
    </tr>

    <% end %>

    </tbody>
  </table>

<%= will_paginate @users, renderer: FoundationPagination::Rails %>
