<div class="row">
  <h1>
    <%= t('backend.contributors')%> (<%= @users.count %>)
    <%= link_to t('backend.new_contributor'), new_user_path, :class => "button radius warning right" %>
  </h1>
</div>

<table id="listing" class="display" cellpadding="0" width="100%">
  <thead>
  <tr>
    <th><%= t('name')%></th>
    <th><%= t('contributes to')%></th>
    <th><%= t('actions')%></th>
  </tr>
  </thead>
  <tfoot>
  <tr>
    <th><%= t('name')%></th>
    <th><%= t('contributes to')%></th>
    <th><%= t('actions')%></th>
  </tr>
  </tfoot>
  <tbody>
  <% @users.each do |u| %>
      <tr>
        <td>
          <p><%= link_to u.full_name_comma, edit_user_path(u) %><br>
            <%= u.email %></p>

        </td>
        <td>
          <% u.manages.map{|h| h.holder.full_name}.each do |m| %>
              <%= m %><br />
          <% end %>
        </td>
        <td>
          <%= link_to "Edit", edit_user_path(u)  %> · Delete
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= javascript_include_tag 'admin_listings' %>

