<%= form_for @event, html: {class: 'admin-form'} do |f| %>
<%= link_to t('backend.back'), events_path , :class=> "button tiny radius" %>
    <% if @event.errors.any? %>
        <div class="panel callout radius">
          <strong><%= t('activerecord.errors.template.header',
  :model => Event.model_name.human, :count => @event.errors.count) %></strong>
          <ul>
            <% @event.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <fieldset>
      <legend><%= t('backend.basic_data') %></legend>
      <%= f.label :title, t('backend.title') %>
      <%= f.text_field :title %>
      <%= f.label :location, t('backend.location') %>
      <%= f.text_field :location %>
      <%= f.label :description, t('backend.description') %>
      <%= f.text_area :description, class: 'tinymce'%>
      <%= f.label :scheduled, t('backend.date') %>
      <%= f.text_field :scheduled, class: 'fdatepicker' %>
      <%= f.label :position_id, t('backend.main_position') %>
      <%= f.select :position_id, @holders.order(:last_name).map{|holder| [holder.full_name_comma, holder.positions.current.first.id]}, prompt: t('backend.select') if @holders.count > 1 %>
    </fieldset>

    <fieldset><!-- Participants -->
      <legend><%= t('backend.positions') %></legend>
      <div class="row">
        <div class="small-10 columns"><%= t('backend.name') %></div>
        <div class="small-2 columns"></div>
      </div>

      <div id="participants">
        <%= f.fields_for :participants do |participant| %>
            <%= render 'participant_fields', f: participant %>
        <% end %>
        <%= link_to_add_association t('backend.add'), f, :participants, :class => "button radius tiny info right" %>
      </div>
    </fieldset>


    <fieldset><!-- Attendees -->
      <legend><%= t('backend.attendees') %></legend>
      <div class="row">
        <div class="small-4 columns"><%= t('backend.name') %></div>
        <div class="small-3 columns"><%= t('backend.position') %></div>
        <div class="small-3 columns"><%= t('backend.company') %></div>
        <div class="small-2 columns"></div>
      </div>

      <div id="attendees">
        <%= f.fields_for :attendees do |attendee| %>
            <%= render 'attendee_fields', f: attendee %>
        <% end %>
        <%= link_to_add_association t('backend.add'), f, :attendees, :class => "button radius tiny info right" %>
      </div>
    </fieldset>

    <fieldset><!-- Attachments -->
      <legend><%= t('backend.attachments') %> ( <%= t('backend.only_pdf') %>)</legend>
      <div class="row">
        <div class="small-4 columns"><%= t('backend.title') %></div>
        <div class="small-6 columns"><%= t('backend.file') %></div>
        <div class="small-2 columns"></div>
      </div>

      <div id="attachments">
        <%= f.fields_for :attachments do |attachment| %>
            <%= render 'attachment_fields', f: attachment %>
        <% end %>
        <%= link_to_add_association t('backend.add'), f, :attachments, :class => "button radius tiny info right" %>
      </div>
    </fieldset>
  <%= submit_tag t('backend.save'), :class=> "button radius success right" %>
<% end %>
<%= tinymce %>
<%= javascript_include_tag 'events'%>
