<%= form_for(@event) do |f| %>

    <% if @event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
          <ul>
            <% @event.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <fieldset>

      <legend>Datos básicos</legend>

      <label>Title</label>
      <%= f.text_field :title %>

      <label>Location</label>
      <%= f.text_field :location %>

      <label>Description</label>
      <%= f.text_area :description %>

      <label>Fecha</label>
      <%= f.text_field :scheduled, class: 'datepicker' %>

      <fieldset><!-- Participants -->
        <legend><%= t('backend.positions') %></legend>
        <div class="row">
          <div class="small-2 columns">
              Nombre
          </div>
          <div class="small-2 columns"></div>
        </div>

        <div id="participants">
          <%= f.fields_for :participants do |participant| %>
              <%= render 'participant_fields', f: participant %>
          <% end %>
          <div class="left inline">
            <%= link_to_add_association 'Add participant', f, :participants, :class => "button tiny info alert " %>
          </div>
        </div>
      </fieldset>


      <fieldset><!-- Attendees -->
        <legend><%= t('backend.positions') %></legend>
        <div class="row">
          <div class="small-2 columns">
              Nombre
          </div>
          <div class="small-2 columns">
              Cargo
          </div>
          <div class="small-2 columns">
              Empresa
          </div>
          <div class="small-2 columns"></div>
        </div>

        <div id="attendees">
          <%= f.fields_for :attendees do |attendee| %>
              <%= render 'attendee_fields', f: attendee %>
          <% end %>
          <div class="left inline">
            <%= link_to_add_association 'Add attendee', f, :attendees, :class => "button tiny info alert " %>
          </div>
        </div>
      </fieldset>

      <fieldset><!-- Attachments -->
        <legend><%= t('backend.attachments') %></legend>
        <div class="row">
          <div class="small-2 columns">
              Nombre
          </div>
          <div class="small-2 columns">
              Cargo
          </div>
          <div class="small-2 columns"></div>
        </div>

        <div id="attachments">
          <%= f.fields_for :attachments do |attachment| %>
              <%= render 'attachment_fields', f: attachment %>
          <% end %>
          <div class="left inline">
            <%= link_to_add_association 'Add attendee', f, :attachments, :class => "button tiny info alert " %>
          </div>
        </div>
      </fieldset>


      <%= submit_tag "Guardar", :class=> "button radius success right" %>
    </fieldset>

<% end %>
