<%= form_for @event, html: {class: 'admin-form'} do |f| %>
<%= link_to t('backend.back'), events_path , :class=> "button tiny radius" %>
    <% if @event.errors.any? %>
        <div class="panel callout radius">
          <strong><%= t('activerecord.errors.template.header',
  :model => Event.model_name.human, :count => @event.errors.count) %></strong>
          <ul>
            <% @event.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <fieldset>
      <legend><%= t('backend.basic_data') %></legend>
      <%= f.label :title, t('backend.title') %>
      <%= f.text_field :title %>
      <%= f.label :location, t('backend.location') %>
      <%= f.text_field :location %>
      <%= f.label :description, t('backend.description') %>
      <%= f.text_area :description, class: 'tinymce'%>
      <%= f.label :scheduled, t('backend.date') %>
      <%= f.text_field :scheduled, class: 'fdatepicker' %>
      <%= f.label :position_id, t('backend.main_position') %>
      <% if @positions.size > 1 %>
          <%= f.select :position_id, @positions.map{|position| [position.holder.full_name_comma+' - '+position.title, position.id]}, prompt: t('backend.select') %>
      <% elsif @positions.size == 1 %>
          <p><strong><%= @holders.first.full_name %></strong></p>
          <%= f.hidden_field :position_id, value: @positions.first.id %>
      <% end %>
    </fieldset>

    <fieldset><!-- Participants -->
      <legend><%= t('backend.participants') %></legend>
      <div class="row">
        <div class="small-10 columns"><%= t('backend.name') %></div>
        <div class="small-2 columns"></div>
      </div>

      <div id="participants">
        <%= f.fields_for :participants do |participant| %>
            <%= render 'participant_fields', f: participant %>
        <% end %>
      </div>
      <%= link_to_add_association t('backend.add'), f, :participants, :class => "button radius tiny info right", 'data-association-insertion-method' => 'append', 'data-association-insertion-node' => '#participants' %>
    </fieldset>

    <fieldset>
      <legend>¿Es una reunión donde se hará actividad de Lobby?</legend>
      <div>

        <%= f.radio_button :lobby_activity, true %>
        <%= f.label :lobby_activity, "Si", value: true %>

        <%= f.radio_button :lobby_activity, false %>
        <%= f.label :lobby_activity, "No", value: false %>
      </div>

      <div id="lobby-activity-event">

          <%= text_field_tag :organization_id, params[:search], class: "search-query", placeholder: "namesearch", type: "search", data: {autocomplete: autocomplete_organization_name_admin_organizations_path} %>
          <%#= f.select :organization_id,
                        options_for_select(Organization.all.map{|c| [c.name, c.id]}),
                        prompt: t('backend.none') %>

          <%= f.collection_check_boxes(:represented_entity_ids, Organization.first.represented_entities, :id, :name) do |f| %>
            <%= f.label class:"small-6 columns" do %>
              <%= f.check_box %> <span> <%= f.text %> </span>
            <% end %>
          <% end %>
      </div>

    </fieldset>

    <fieldset><!-- Attendees -->
      <legend><%= t('backend.attendees') %></legend>
      <div class="row">
        <div class="small-4 columns"><%= t('backend.name') %></div>
        <div class="small-3 columns"><%= t('backend.position') %></div>
        <div class="small-3 columns"><%= t('backend.company') %></div>
        <div class="small-2 columns"></div>
      </div>

      <div id="attendees">
        <%= f.fields_for :attendees do |attendee| %>
            <%= render 'attendee_fields', f: attendee %>
        <% end %>
      </div>
      <%= link_to_add_association t('backend.add'), f, :attendees, :class => "button radius tiny info right",'data-association-insertion-method' => 'append', 'data-association-insertion-node' => '#attendees' %>
    </fieldset>

    <fieldset><!-- Attachments -->
      <legend><%= t('backend.attachments') %></legend>
      <div class="row">
        <div class="small-4 columns"><%= t('backend.title') %></div>
        <div class="small-6 columns"><%= t('backend.file') %></div>
        <div class="small-2 columns"></div>
      </div>

      <div id="attachments">
        <%= f.fields_for :attachments do |attachment| %>
            <%= render 'attachment_fields', f: attachment %>
        <% end %>
      </div>
      <%= link_to_add_association t('backend.add'), f, :attachments, :class => "button radius tiny info right",'data-association-insertion-method' => 'append', 'data-association-insertion-node' => '#attachments' %>
    </fieldset>
  <%= submit_tag t('backend.save'), :class=> "button radius success right" %>
<% end %>
<%= tinymce :language => I18n.locale %>
<%= javascript_include_tag 'events'%>
