<%= form_for @event, html: {class: 'admin-form'} do |f| %>

    <% if @event.errors.any? %>
        <div class="panel callout radius">
          <strong><%= t('activerecord.errors.template.header',
  :model => Event.model_name.human, :count => @event.errors.count) %></strong>
          <ul>
            <% @event.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <fieldset>
      <legend><%= t('backend.basic_data') %></legend>
      <%= f.label :title, t('backend.title') %>
      <%= f.text_field :title %>
      <%= f.label :location, t('backend.location') %>
      <%= f.text_field :location %>
      <%= f.label :description, t('backend.description') %>
      <%= f.text_area :description, class: 'tinymce' %>
      <br />
      <% if current_user.lobby? %>
        <%= f.label :general_remarks, t('backend.general_remarks') %>
        <%= f.text_area :general_remarks, class: 'tinymce' %>
        <br />
        <%= f.label :lobby_scheduled, t('backend.lobby_date') %>
        <%= f.text_area :lobby_scheduled, class: 'tinymce' %>
        <br />
      <% end %>
      <% unless current_user.lobby? %>
        <%= f.label :scheduled, t('backend.date') %>
        <%= f.text_field :scheduled, class: 'fdatepicker' %>
      <% end %>
      <%= f.label :position_id, t('backend.main_position') %>
      <%= f.select :position_id, @positions.map{|position| [position.holder.full_name_comma+' - '+position.title, position.id]}, prompt: t('backend.select') %>
    </fieldset>

    <fieldset><!-- Participants -->
      <legend><%= t('backend.participants') %></legend>
      <div class="row">
        <div class="small-10 columns"><%= t('backend.name') %></div>
        <div class="small-2 columns"></div>
      </div>

      <div id="participants">
        <%= f.fields_for :participants do |participant| %>
            <%= render 'participant_fields', f: participant %>
        <% end %>
      </div>
      <%= link_to_add_association t('backend.add'), f, :participants, :class => "button radius tiny info right add-participant", 'data-association-insertion-method' => 'append', 'data-association-insertion-node' => '#participants' %>
    </fieldset>

    <fieldset class="meeting-lobby-activity">
      <legend><%= t('backend.meeting_lobby_activity') %></legend>
      <%= f.radio_button :lobby_activity, true, checked: current_user.lobby? %>
      <%= f.label :lobby_activity, t('backend.meeting_lobby_activity_yes'), value: true %>
      <%= f.radio_button :lobby_activity, false, disabled: current_user.lobby? %>
      <%= f.label :lobby_activity, t('backend.meeting_lobby_activity_no'), value: false %>
      <div class="small-12 error-radio-buttons"></div>

      <div id="lobby-activity-event">
        Organización
        <% if current_user.lobby? %>
          <%= hidden_field_tag  :organization_id, current_user.organization_id %>
          <%= f.autocomplete_field :organization_name, autocomplete_organization_name_organizations_path, :update_elements => {}, placeholder: t('backend.meeting_lobby_activity_input'), value: current_user.organization.name, readonly: true %>
        <% else %>
          <%= hidden_field_tag  :organization_id %>
          <%= f.autocomplete_field :organization_name, autocomplete_organization_name_organizations_path, :update_elements => {}, placeholder: t('backend.meeting_lobby_activity_input') %>
        <% end %>
        <div id="category-block" style="display: none" data-new-url="<%= organization_category_url_pattern %>">
          <div class="row">
            <div class="small-10 columns"><%= t('backend.meeting_lobby_category') %> <i id="event-category"></i></div>
            <div class="small-2 columns"></div>
          </div>
          <hr />
        </div>

        <div id="re-block" style="display: none" data-new-url="<%= organization_represented_entities_url_pattern(format: :json) %>">
          <div class="row">
            <div class="small-10 columns">Empresas Representadas</div>
            <div class="small-2 columns"></div>
          </div>
          <div id="event-represented-entities">
            <%= f.fields_for :event_represented_entities do |represented_entity| %>
              <%= render 'event_represented_entity_fields', f: represented_entity %>
            <% end %>
          </div>
          <%= link_to_add_association t('backend.add'), f, :event_represented_entities, :class => "button radius tiny info right", 'data-association-insertion-method' => 'append', 'data-association-insertion-node' => '#event-represented-entities', id:'link_to_add_association_re' %>
        </div>
        <hr />
        <div id="agents-block" style="display: none" data-new-url="<%= organization_agents_url_pattern(format: :json) %>">
          <div class="row">
            <div class="small-10 columns">Agentes por parte del lobby</div>
            <div class="small-2 columns"></div>
          </div>
          <div id="event-agents">
            <%= f.fields_for :event_agents do |agent| %>
              <%= render 'event_agent_fields', f: agent %>
            <% end %>
          </div>
          <%= link_to_add_association t('backend.add'), f, :event_agents, :class => "button radius tiny info right", 'data-association-insertion-method' => 'append', 'data-association-insertion-node' => '#event-agents', id:'link_to_add_association_agent' %>
        </div>

      </div>

    </fieldset>

    <fieldset><!-- Attendees -->
      <legend><%= t('backend.attendees') %></legend>
      <div id="attendees">
        <%= f.fields_for :attendees do |attendee| %>
            <%= render 'attendee_fields', f: attendee %>
        <% end %>
      </div>
      <%= link_to_add_association t('backend.add'), f, :attendees, :class => "button radius tiny info right add-attendee",'data-association-insertion-method' => 'append', 'data-association-insertion-node' => '#attendees' %>
    </fieldset>

    <fieldset><!-- Attachments -->
      <legend><%= t('backend.attachments') %></legend>

      <div id="attachments">
        <%= f.fields_for :attachments do |attachment| %>
            <%= render 'attachment_fields', f: attachment %>
        <% end %>
      </div>

      <%= link_to_add_association t('backend.add'), f, :attachments, :class => "button radius tiny info right add-attachment",'data-association-insertion-method' => 'append', 'data-association-insertion-node' => '#attachments' %>
    </fieldset>

    <% unless current_user.lobby? %>
      <fieldset>
        <legend><%= t('backend.meeting_lobby_activity_public_website') %></legend>
        <%= f.text_field :published_at, class: 'fdatepicker' %>
      </fieldset>
    <% end %>
  <%= submit_tag t('backend.save'), :class=> "button radius success right" %>
<% end %>

<%= javascript_include_tag 'events'%>
