<%= render 'search_form' %>
<div class="row">
  <%= page_entries_info @events%>
  <%= paginate @events%>
</div>
<div class="row">
  <table class="display" cellpadding="0" width="100%">
    <thead>
      <tr>
        <th><%= t('backend.date')%></th>
        <th><%= t('backend.event')%></th>
        <th><%= t('backend.holder')%></th>
        <th><%= t('backend.actions')%></th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th><%= t('backend.date')%></th>
        <th><%= t('backend.event')%></th>
        <th><%= t('backend.holder')%></th>
        <th><%= t('backend.actions')%></th>
      </tr>
    </tfoot>
    <tbody>
      <% @events.each do |event| %>
      <tr>
        <td>
          <p><span class="hide"><%= event.scheduled.strftime(t('time.formats.custom')) %></span><%= event.scheduled.strftime(t('time.formats.short')) %></p>
        </td>
        <td>
          <p><%= link_to event.title, event_path(event) %></p>
        </td>
        <td>
          <strong><%= event.position.holder.full_name %></strong><br />
          <%= event.position.title %>
        </td>
        <td>
          <%= link_to edit_event_path(event), title: t('backend.edit') do %>
              <i class="step fi-page-edit size-24"></i>
            <% end if can? :edit, event %>

            <%= link_to event_path(event), method: :delete, data: { confirm: t("backend.confirm") }, title: t('backend.delete') do%>
              <i class="step fi-page-delete size-24"></i>
            <% end if can? :destroy, event %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @events%>
