<h3><%= @event.title %></h3>
<%= link_to t('backend.edit'), edit_event_path(@event), :class=> "button tiny radius success" if can? :edit, @event%>
<%= link_to t('backend.back'), events_path , :class=> "button tiny radius" %>
<fieldset>
  <legend><%= t('backend.basic_data') %></legend>
  <p><strong><%= t('backend.holder') %>:</strong> <%= @event.position.holder.full_name %></p>
  <p><strong><%= t('backend.title') %>:</strong> <%= @event.title %></p>
  <p><strong><%= t('backend.location') %>:</strong> <%= @event.location %></p>
  <p><strong><%= t('backend.date') %>:</strong> <%= @event.scheduled.strftime(t('time.formats.short')) %></p>
  <%= @event.description.html_safe %>
</fieldset>
<% if @event.user.present? %>
<fieldset>
  <legend><%= t('backend.event_history_updates') %></legend>
  <div class="row">
    <div class="small-6 columns"><strong><%= t('backend.event_update_user') %></strong></div>
    <div class="small-6 columns"><strong><%= t('backend.event_update_date') %></strong></div>
  </div>
  <div class="row">
    <div class="small-6 columns"><%= @event.user.full_name %></div>
    <div class="small-6 columns"><%= @event.updated_at.strftime(t('time.formats.short')) %></div>
  </div>
</fieldset>
<% end %>
<fieldset>
  <legend><%= t('backend.participants') %></legend>
  <div class="row">
    <div class="small-4 columns"><strong><%= t('backend.name') %></strong></div>
    <div class="small-4 columns"><strong><%= t('backend.position') %></strong></div>
    <div class="small-4 columns"><strong><%= t('backend.area') %></strong></div>
  </div>
  <% @event.participants.each do |participant| %>
  <div class="row">
    <div class="small-4 columns"><%= participant.position.holder.full_name %></div>
    <div class="small-4 columns"><%= participant.position.title %></div>
    <div class="small-4 columns"><%= participant.position.area.title %></div>
  </div>
  <% end %>
</fieldset>
<fieldset>
  <legend><%= t('backend.attendees') %></legend>
  <div class="row">
    <div class="small-4 columns"><strong><%= t('backend.name') %></strong></div>
    <div class="small-4 columns"><strong><%= t('backend.position') %></strong></div>
    <div class="small-4 columns"><strong><%= t('backend.company') %></strong></div>
  </div>
  <% @event.attendees.each do |attendee| %>
  <div class="row">
    <div class="small-4 columns"><%= attendee.name %></div>
    <div class="small-4 columns"><%= attendee.position %></div>
    <div class="small-4 columns"><%= attendee.company %></div>
  </div>
  <% end %>
</fieldset>
<fieldset>
  <legend><%= t('backend.attachments') %></legend>
  <div class="row">
    <div class="small-12 columns"><strong><%= t('backend.file') %></strong></div>
  </div>
  <% @event.attachments.each do |attachment| %>
  <div class="row">
    <div class="small-12 columns"><%= link_to attachment.title, attachment.file.url, target: :blank %></div>
  </div>
  <% end %>
</fieldset>
