<div class="row">
  <div class="small-12 columns">
    <%= link_to t('backend.edit'), edit_event_path(@event), :class=> "button tiny radius success" if can? :edit, @event%>
    <%= link_to t('backend.back'), :back , class: "button tiny radius" %>
    <h1 class="title-l"><%= @event.title %></h1>
    <p>
      <strong><%= t('organizations.show.state') %></strong>
      <span class="label success"><%= t("status.#{@event.status}") %></span>
    </p>
  </div>
</div>

<% if @event.status == "declined" ||  @event.status == "canceled"  %>
  <fieldset>
    <legend>Motivos: </legend>
    <p> <%= reason_text(@event) %> </p>
  </fieldset>
<% end %>

<fieldset>
  <legend><%= t('backend.basic_data') %></legend>
  <strong><%= t('backend.holder') %>:</strong>
  <p><%= @event.position.holder.full_name %></p>
  <strong><%= t('backend.title') %>:</strong>
  <p><%= @event.title %></p>
  <strong><%= t('backend.location') %>:</strong>
  <p><%= @event.location %></p>
  <strong><%= t('backend.date') %>:</strong>
  <p><%= I18n.l(@event.scheduled, format: :short) if @event.scheduled.present? %></p>
  <strong><%= event_description(current_user) %>:</strong>
  <%= @event.description.html_safe if @event.description.present? %>
</fieldset>
<% if @event.user.present? || @event.organization.present? %>
<fieldset>
  <legend><%= t('backend.event_history_updates') %></legend>
  <div class="row">
    <div class="small-6 columns"><strong><%= t('backend.event_update_user') %></strong></div>
    <div class="small-6 columns"><strong><%= t('backend.event_update_date') %></strong></div>
  </div>
  <div class="row">
    <div class="small-6 columns">
      <p><%= @event.user.present? ? @event.user.full_name : @event.organization.fullname %></p>
    </div>
    <div class="small-6 columns">
      <p><%= I18n.l(@event.updated_at, format: :short) if @event.updated_at.present? %></p>
    </div>
  </div>
</fieldset>
<% end %>
<fieldset>
  <legend><%= t('backend.participants') %></legend>
  <div class="row">
    <div class="small-4 columns">
      <strong><%= t('backend.name') %></strong>
    </div>
    <div class="small-4 columns">
      <strong><%= t('backend.position') %></strong>
    </div>
    <div class="small-4 columns">
      <strong><%= t('backend.area') %></strong>
    </div>
  </div>
  <% @event.participants.each do |participant| %>
  <div class="row">
    <div class="small-4 columns">
      <p><%= participant.position.holder.full_name %></p>
    </div>
    <div class="small-4 columns">
      <p><%= participant.position.title %></p>
    </div>
    <div class="small-4 columns">
      <p><%= participant.position.area.title %></p>
    </div>
  </div>
  <% end %>
</fieldset>
<fieldset>
  <legend><%= t('backend.attendees') %></legend>
  <div class="row">
    <div class="small-4 columns">
      <strong><%= t('backend.name') %></strong>
    </div>
    <div class="small-4 columns">
      <strong><%= t('backend.position') %></strong>
    </div>
    <div class="small-4 columns">
      <strong><%= t('backend.company') %></strong>
    </div>
  </div>
  <% @event.attendees.each do |attendee| %>
  <div class="row">
    <div class="small-4 columns">
      <p><%= attendee.name %></p>
    </div>
    <div class="small-4 columns">
      <p><%= attendee.position %></p>
    </div>
    <div class="small-4 columns">
      <p><%= attendee.company %></p>
    </div>
  </fieldset>
  <% end %>

  <fieldset class="attachments">
    <legend><%= t('backend.attachments') %></legend>
    <% @event.attachments.each do |attachment| %>
      <div class="row">
        <div class="small-12 columns">
          <p>
            <strong><%= t('backend.attachments') %></strong>
            <%= link_to attachment.title, attachment.file.url, target: :blank %>
          </p>
        </div>
        <div class="small-12 columns">
          <p>
            <strong><%= t('backend.attachments_description') %></strong>
            <%= attachment.description.html_safe if attachment.description.present? %>
          </p>
        </div>
        <div class="small-12 columns">
          <p><%= attachment.public ? "Público" : "Privado" %></p>
        </div>
      </div>
      <hr />
    <% end %>
  </fieldset>

  <% if @event.lobby_activity %>
    <fieldset>
      <legend>Datos del lobby</legend>
      <div class="row">
        <div class="small-12 columns">
          <p>
            <strong>Nombre del lobby: </strong>
            <%= link_to @event.organization.fullname, admin_organization_path(@event.organization) %>
          </p>
          <hr />
        </div>
        <div class="small-12 columns">
          <strong>Agentes (personas que se reúnen):</strong>
          <br>
          <% @event.event_agents.each do |agent| %>
            <p><%= agent.name %></p></p>
          <% end %>
          <hr />
        </div>
        <div class="small-12 columns">
          <strong>Empresas/personas físicas representadas:</strong>
          <br />
          <% @event.event_represented_entities.each do |represented_entity| %>
            <p><%= represented_entity.name %></p>
          <% end %>
          <hr />
        </div>
        <div class="small-12 columns">
          <strong>Observaciones:</strong>
          <br />
          <p><%= @event.general_remarks.html_safe if @event.general_remarks.present? %></p>
        </div>
      </div>
    </fieldset>
  <% end %>
</div>
