<h1><%= t('infringement_mailbox.title') %></h1>
<%= link_to t('backend.back'), :back , :class=> "button tiny radius" %>
<p><%= t('infringement_mailbox.description') %></p>

<%= form_for @infringement_email do |f| %>
  <fieldset>
    <legend><%= t('infringement_mailbox.legend') %></legend>
    <%= f.label :subject, t('infringement_mailbox.subject_title') %>
    <%= f.text_field :subject, placeholder: t('infringement_mailbox.subject_placeholder') %>

    <%= f.label :description, t('infringement_mailbox.description_title') %>
    <%= f.text_area :description, class: 'tinymce'%>
    <br>
    <%= f.invisible_captcha :subsubject %>

    <%= f.label :link, t('infringement_mailbox.link_title') %>
    <%= f.text_field :link, placeholder: t('infringement_mailbox.link_placeholder') %>
    <span class="form-info"><%= t('infringement_mailbox.link_info') %></span>

    <div class="file-attachment">
      <%= f.label :attachment, t('infringement_mailbox.attachment_title') %>
      <%= f.file_field :attachment %>
      <span class="form-info"><%= t('infringement_mailbox.attachment_info') %></span>
    </div>

    <div>
      <hr>
      <p><%= t('infringement_mailbox.contact_option_title') %> </p>
      <%= f.label :name, t('infringement_mailbox.name') %>
      <%= f.text_field :name, placeholder: t('infringement_mailbox.name_placeholder') %>
    </div>
    <div>
      <%= f.label :first_surname, t('infringement_mailbox.first_surname') %>
      <%= f.text_field :first_surname, placeholder: t('infringement_mailbox.first_surname_placeholder') %>
    </div>
    <div>
      <%= f.label :email, t('infringement_mailbox.email') %>
      <%= f.text_field :email, placeholder: t('infringement_mailbox.email_placeholder') %>
    </div>
    <div>
      <%= f.label :phone, t('infringement_mailbox.phone') %>
      <%= f.text_field :phone, placeholder: t('infringement_mailbox.phone_placeholder') %>
    </div>
    <hr />
    <p>
      <%= t('infringement_mailbox.text_block_first_html') %>
    </p>
    <p>
      <ul>
        <li>
          <%= t('infringement_mailbox.text_block_second.first') %>
        </li>
        <li>
          <%= t('infringement_mailbox.text_block_second.second') %>
        </li>
        <li>
          <%= t('infringement_mailbox.text_block_second.third') %>
        </li>
        <li>
          <%= t('infringement_mailbox.text_block_second.four') %>
        </li>
      </ul>
    </p>
    <p>
      <%= t('infringement_mailbox.text_block_fourth_html') %>
    </p>

  </fieldset>
  <%= f.submit t('infringement_mailbox.send'), class: "button radius success right" %>
<% end %>
<%= tinymce :language => I18n.locale %>
