<tr data-tt-id="<%= area.id %>" <%= parent_label(area) %>>
  <td><%= link_to area.title, edit_area_path(area) %></td>
  <td><%= area.children.count %></td>
  <td><%= link_to "Edit", edit_area_path(area)  %> · Delete</td>
</tr>
