<div class="row">
  <h1>
    <%= t('backend.areas')%> (<%= @areas.count %>)
    <%= link_to t('backend.new_area'), new_area_path, :class => "button radius warning right" if can? :create, Area %>
    </h1>
</div>
<div class="row">
  <table id="listing" class="display" cellpadding="0" width="100%">
    <thead>
      <tr>
        <th><%= t('backend.title')%></th>
        <th><%= t('backend.descendant')%></th>
        <th><%= t('backend.actions')%></th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th><%= t('backend.title')%></th>
        <th><%= t('backend.descendant')%></th>
        <th><%= t('backend.actions')%></th>
      </tr>
    </tfoot>
    <tbody>
      <%= nested_areas @areas %>
    </tbody>
  </table>
</div>

<%= javascript_include_tag 'areas' %>
