<%= form_for [:admin, @organization], html: {class: 'organization-form'} do |f| %>

  <% if @organization.errors.any? %>
    <div class="panel callout radius">
      <strong><%= t('activerecord.errors.template.header', :model => Organization.model_name.human, :count => @organization.errors.count) %></strong>
      <ul>
        <% @organization.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'reference', f:f %>
  <%= render 'data', f:f %>
  <%= render 'legal_representant' , f:f%>

  <fieldset>
    <legend><%= t('backend.contact_person.title_fieldset') %></legend>
    <div class="row">
      <div id="nested-user">
        <%= f.fields_for :user do |user_builder| %>
          <%= render 'user_fields', f: user_builder %>
        <% end %>
      </div>
    </div>
  </fieldset>

  <%= render 'lobbies_data', f:f %>

  <%# DATOS LOBBY CUENTA AJENA %>
  <fieldset>
    <legend><%= t('backend.represented_entities.title_fieldset') %></legend>
    <div class="row">
      <div id="nested-represented-entities">
        <%= f.fields_for :represented_entities do |represented_entities_builder| %>
          <%= render 'represented_entities_fields', f: represented_entities_builder %>
        <% end %>
      </div>
      <div class="small-12 columns">
        <%= link_to_add_association t('backend.represented_entities.add_represented_entities'), f, :represented_entities,
                                  partial: "represented_entities_fields",
                                  id: "represented_entities_link",
                                  class: "button tiny radius info",
                                  data: {
                                    association_insertion_node: "#nested-represented-entities",
                                    association_insertion_method: "append"
                                  } %>
      </div>
    </div>
  </fieldset>

  <%= render 'interest', f:f %>

  <fieldset>
    <legend><%= t('backend.agents.title_fieldset') %></legend>
    <div class="row">
      <div id="nested-agents">
        <%= f.fields_for :agents do |agents_builder| %>
          <%= render 'agents_fields', f: agents_builder %>
        <% end %>
      </div>

      <div class="small-12 columns">
        <%= link_to_add_association t('backend.agents.add_association'), f, :agents,
                                  partial: "agents_fields",
                                  id: "agents_link",
                                  class: "button tiny radius info",
                                  data: {
                                    association_insertion_node: "#nested-agents",
                                    association_insertion_method: "append"
                                  } %>

      </div>
    </div>
  </fieldset>

  <%= render 'terms', f:f %>

  <%= submit_tag t('backend.save'), :class=> "button radius success right" %>
<% end %>
