<%= form_for [:admin, @organization], html: { class: 'organization-form' } do |f| %>

  <%= render 'organization_errors', f: f if current_user.admin? %>
  <%= render 'reference', f: f if current_user.admin? %>
  <%= render 'data', f: f if current_user.admin? %>
  <%= render 'legal_representant', f: f if current_user.admin? %>
  <%= render 'user', f: f if current_user.admin? %>
  <%= render 'lobby_data', f: f if current_user.admin? %>
  <%= render 'represented_entities', f: f if current_user.admin? %>
  <%= render 'interests', f: f if current_user.admin? || show_partial?('interests') %>
  <%= render 'agents', organization: @organization if current_user.admin? %>
  <%= render 'terms', f: f if current_user.admin? %>
  <%= render 'invalidate', f: f if current_user.admin? %>

  <div class="small-4 medium-3 large-2 column">
    <%= submit_tag t('backend.save'), class: "button radius success right" %>
  </div>

<% end %>

<%= javascript_include_tag 'organizations'%>
