<%= form_for [:admin, @organization], html: {class: 'organization-form'} do |f| %>

  <%= render 'organization_errors', f:f %>
  <%= render 'reference', f:f %>
  <%= render 'data', f:f %>
  <%= render 'legal_representant', f:f %>
  <%= render 'user', f:f %>
  <%= render 'lobby_data', f:f %>
  <%= render 'represented_entities', f:f %>
  <%= render 'interests', f:f %>
  <%= render 'agents', f:f %>
  <%= render 'terms', f:f %>

  <div class="row">
    <div class="small-8 column">
      &nbsp
    </div>
    <div class="small-2 column">
      <% if @organization.invalidate %>
        <%= link_to t('backend.validate'), admin_organization_path(@organization, organization: {invalidate: false}), method: :put, :class=> "button radius success right" %>
      <% else %>
        <%= link_to t('backend.invalidate'), admin_organization_path(@organization, organization: {invalidate: true}), method: :put, :class=> "button radius alert right" %>
      <% end %>
    </div>
    <div class="small-2 column">
      <%= submit_tag t('backend.save'), :class=> "button radius success right" %>
    </div>
  </div>
<% end %>
