<fieldset>
  <legend><%= t('backend.interest.title_fieldset') %></legend>
  <div class="row">
    <div class="small-12 columns">
      <%= f.collection_check_boxes(:interest_ids, Interest.all, :id, :name) do |f| %>
        <%= f.label class:"small-12 medium-6 columns" do %>
          <%= f.check_box %> <span> <%= f.text %> </span>
        <% end %>
      <% end %>
      <%= form_field_errors(f, :interest_ids) %>
    </div>
  </div>
</fieldset>
