<div id="<%= dom_id(f.object) %>" class="nested-fields">
  <%= f.hidden_field :id %>

  <%= f.label :identifier %>
  <%= f.text_field :identifier %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :first_name %>
  <%= f.text_field :first_name %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %>

  <%= f.label :phones %>
  <%= f.text_field :phones %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= link_to_remove_association "Eliminar", f %>
</div>
