<div id="<%= dom_id(f.object) %>" class="nested-fields">
  <div class="small-12">
    <%= f.hidden_field :id %>

    <div class="small-6 columns">
      <%= f.label :identifier %>
      <%= f.text_field :identifier %>
    </div>

    <div class="small-6 columns">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="small-6 columns">
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div>

    <div class="small-6 columns">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>

    <div class="small-12 columns">
      <%= f.label :from %>
      <%= f.date_field :from %>
    </div>

    <div class="small-6 columns">
      <%= f.label :fiscal_year %>
      <%= f.number_field :fiscal_year %>
    </div>

    <div class="small-6 columns">
      <%= f.label :range_funds %>
      <%= f.select :range_funds, Organization.range_funds.keys.to_a %>
    </div>

    <div class="small-12 columns">
      <%= f.label :subvention %>
    </div>

    <div class="small-12 columns">
      <%= f.check_box :subvention %>
    </div>

    <div class="small-6 columns">
      <%= f.label :contract %>
      <%= f.check_box :contract %>
    </div>

    <div class="small-12 columns">
      <%= link_to_remove_association "Eliminar", f, class: "button tiny radius alert right" %>
      <hr />
    </div>

  </div>
</div>
