<div id="<%= dom_id(f.object) %>" class="nested-fields">
  <%= f.hidden_field :id %>

  <%= f.label :identifier %>
  <%= f.text_field :identifier %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :first_name %>
  <%= f.text_field :first_name %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %>

  <%= f.label :from %>
  <%= f.date_field :from %>

  <%= f.label :fiscal_year %>
  <%= f.number_field :fiscal_year %>

  <%= f.label :range_funds %>
  <%= f.select :range_funds, Organization.range_funds.keys.to_a %>

  <%= f.label :subvention %>
  <%= f.check_box :subvention %>

  <%= f.label :contract %>
  <%= f.check_box :contract %>
  
  <%= link_to_remove_association "Eliminar", f %>
</div>
