<fieldset>
  <legend><%= t('backend.terms.title_fieldset') %></legend>
  <div class="row">
    <div class="small-12 column">
      <%= f.label :certain_term do %>
        <%= f.check_box :certain_term %>
        <small><%= t('backend.terms.certain_term') %></small>
      <% end %>

      <%= f.label :code_of_conduct_term do %>
        <%= f.check_box :code_of_conduct_term %>
        <small><%= t('backend.terms.code_of_conduct_term') %></small>
      <% end %>

      <%= f.label :gift_term do %>
        <p>
          <%= f.check_box :gift_term %>
          <small><%= t('backend.terms.gift_term') %></small>
        </p>
      <% end %>

      <%= f.label :lobby_term do %>
        <%= f.check_box :lobby_term %>
        <small><%= t('backend.terms.lobby_term') %></small>
      <% end %>

    </div>
  </div>
</fieldset>
