<div class="small-12 large-4 columns">
  <p><%= t("organizations.description") %></p>
  <br>

  <%= form_tag organizations_path, method: :get do %>
    <%= hidden_field_tag :order, params[:order] %>
    <div class="mb20">
      <%= text_field_tag :keyword, params[:keyword], placeholder: t("main.form.keyword") %>
    </div>

    <div class="mb20">
      <%= label_tag :area, t('main.form.filter_by_interests'), class: 'title-s' %>
      <%= select_tag :interests,
                     options_for_select(Interest.all.map {
                       |interest| [interest.name, interest.id]
                     }, params[:interests]),
                     id: "interestsFilter",
                     prompt: t("main.form.filter_by"),
                     class: "dropdown" %>
    </div>

    <div class="mb20">
      <%= label_tag :area, t('main.form.filter_by_category'), class: 'title-s' %>
      <%= select_tag :category,
                     options_for_select(Category.where(display: true).all.map {
                       |category| [category.name, category.id]
                     }, params[:category]),
                     id: "categoryFilter",
                     prompt: t("main.form.filter_by"),
                     class: "dropdown" %>
    </div>
    <div class="row">
      <div class="small-1 columns center">
        <%= check_box_tag(:lobby_activity, value = "1", checked = check_filter_lobby_activity , id: "lobby_activity")%>
      </div>
      <div class="small-11 columns right">
        <%= label_tag(:lobby_activity, t("backend.lobby_activity")) %>
      </div>
    </div>
    <div class="mb20">
      <%= text_field_tag :agent_name, params[:agent_name], placeholder: t("main.form.agent") %>
    </div>

    <div class="mb20">
      <%= link_to t("main.form.reset"), organizations_path, class: "button secondary" %>
      <%= submit_tag t("main.form.search"), class: "button" %>
    </div>
  <% end %>
</div>
