<div class="row">
  <div class="small-12 columns">
    <h2 class="title-l"><%= t('organizations.title')%></h2>
  </div>
</div>

<div class="row">

  <%= render 'search_form' %>

  <div class="small-12 large-7 large-ofsset-1 columns mb40">
    <% if params[:keyword].present? %>
      <%= render "shared/search_keywords",
                 collection: @organizations,
                 keyword: params[:keyword] %>
    <% end %>

    <div class="row">
      <% if !params[:interests].present? %>
        <p><strong class="result-l mb20"><%= oganizations_index_subtitle %></strong></p>
      <% end %>
    </div>

    <div class="row">
      <div class="tools">
        <div class="small-2 columns mb20">
            <label for="right-label" class="inline title-xs"><%= t('main.form.order_by')%></label>
        </div>
        <div class="small-7 columns">
           <%= select_tag :order, options_for_select({t('main.form.descending') => :descending},params[:order]), id: 'search-order',  include_blank: true, class: 'select-sm' %>
        </div>
        <div class="small-3 columns">
          <%= export_link(current_url(format: :csv)) %>
        </div>
      </div>
    </div>

    <% @paginated_organizations.each do |organization| %>
      <%= render organization %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="small-12 large-7 small-offset-1 columns right mb20">
    <div class="text-center">
      <%= paginate @organizations.hits %>
    </div>
  </div>
</div>
<%= javascript_include_tag 'search_form'%>
