<h3><%= @user.full_name_comma %></h3>
<%= link_to t('backend.back'), admin_users_path , :class=> "button tiny radius" %>
<%= link_to t('backend.manage_agendas'), edit_admin_user_path(@user), :class=> "button tiny radius success" %>
<fieldset>
  <legend><%= t('backend.basic_data') %></legend>
  <p><strong><%= t('backend.first_name') %>:</strong> <%= @user.first_name %></p>
  <p><strong><%= t('backend.last_name') %>:</strong> <%= @user.last_name %></p>
  <p><strong><%= t('backend.role') %>:</strong> <%= t("backend.#{@user.role}").capitalize %></p>
</fieldset>
<fieldset>
  <legend><%= t('backend.managed_positions') %></legend>
  <div class="row">
    <div class="small-4 columns"><strong><%= t('backend.holder') %></strong></div>
    <div class="small-4 columns"><strong><%= t('backend.position') %></strong></div>
    <div class="small-4 columns"><strong><%= t('backend.area') %></strong></div>
  </div>
  <% @user.manages.each do |manage| %>
    <div class="row">
      <div class="small-4 columns"><%= link_to manage.holder.full_name_comma, holder_path(manage.holder) %></div>
      <% if manage.holder.current_position.present? %>
        <div class="small-4 columns"><%= manage.holder.current_position.title %></div>
        <div class="small-4 columns"><%= manage.holder.current_position.area.title %></div>
      <% end %>
    </div>
  <% end %>
</fieldset>
