<div class="row">
  <%= page_entries_info @activities%>
  <%= paginate @activities%>
  <table class="event">
    <thead>
    <tr>
      <th><%= t('backend.date')%></th>
      <th><%= t('backend.user')%></th>
      <th><%= t('backend.event')%></th>
      <th><%= t('backend.action')%></th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <th><%= t('backend.date')%></th>
      <th><%= t('backend.user')%></th>
      <th><%= t('backend.event')%></th>
      <th><%= t('backend.action')%></th>
    </tr>
    </tfoot>
    <tbody>
    <% @activities.each do |activity| %>
        <tr>
          <td class="event_date"><%= activity.created_at.to_time.strftime(t('time.formats.short')) %></td>
          <td class="event_holder"><%= link_to activity.owner.full_name, user_path(activity.owner) if activity.owner.present? %></td>
          <td class="event_txt">
            <% if activity.trackable.present? %>
              <%= link_to activity.trackable.title, event_path(activity.trackable)%>
            <% else %>
              <%= activity.title%>
            <% end %>
          </td>
          <td class="event_actions"><%= t(activity.key) %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate @activities%>

</div>
