<%= form_for @holder, html: {class: 'admin-form'} do |f| %>
    <% if @holder.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@holder.errors.count, "error") %> prohibited this holder from being saved:</h2>
          <ul>
            <% @holder.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <fieldset class="admin">
      <legend><%= t('backend.basic_data') %></legend>
      <label><%= t('backend.first_name') %><%= f.text_field :first_name %></label>
      <label><%= t('backend.last_name') %></label>
      <%= f.text_field :last_name %>
    </fieldset>

    <fieldset>

      <legend><%= t('backend.positions') %></legend>
      <div class="row">
        <%= f.hidden_field :holder_id, :value => @holder.id %>
        <div class="small-2 columns"><%= t('backend.from') %></div>
        <div class="small-2 columns"><%= t('backend.to') %></div>
        <div class="small-3 columns"><%= t('backend.position') %></div>
        <div class="small-3 columns"><%= t('backend.area') %></div>
        <div class="small-2 columns"></div>
      </div>

      <div id="positions">
        <%= f.fields_for :positions do |position| %>
            <%= render 'position_fields', f: position %>
        <% end %>

        <%= link_to_add_association t('backend.add'), f, :positions, :class => "button radius tiny info right" %>

      </div>
    </fieldset>
    <%= submit_tag t('backend.save'), :class=> "button radius success right" %>
<% end %>

<%= javascript_include_tag 'holders'%>
