<%= form_for @holder, html: {class: 'admin-form'} do |f| %>

    <% if @holder.errors.any? %>
        <div class="panel callout radius">
          <strong><%= t('activerecord.errors.template.header',
  :model => Holder.model_name.human, :count => @holder.errors.count) %></strong>
          <ul>
            <% @holder.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <fieldset>
      <legend><%= t('backend.basic_data') %></legend>
      <%= f.label :first_name, t('backend.first_name') %>
      <%= f.text_field :first_name %>
      <%= f.label :last_name, t('backend.last_name') %>
      <%= f.text_field :last_name %>
    </fieldset>

    <fieldset>
      <legend><%= t('backend.positions') %></legend>

      <div class="row">
        <div class="small-2 columns"><strong><%= t('backend.to') %></strong></div>
        <div class="small-3 columns"><strong><%= t('backend.position') %></strong></div>
        <div class="small-3 columns"><strong><%= t('backend.area') %></strong></div>
        <div class="small-2 columns"></div>
      </div>

      <div id="positions">
        <%= f.fields_for :positions do |position| %>
            <%= render 'position_fields', f: position %>
        <% end %>

        <%= link_to_add_association t('backend.add'), f, :positions, :class => "button radius tiny info right" %>
      </div>
    </fieldset>

    <%= submit_tag t('backend.save'), :class=> "button radius success right" %>
<% end %>

<%= javascript_include_tag 'holders'%>
