<%= form_for(@holder) do |f| %>

    <% if @holder.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@holder.errors.count, "error") %> prohibited this holder from being saved:</h2>

          <ul>
            <% @holder.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <fieldset>

      <legend>Datos básicos</legend>

      <label>Nombre</label>
      <%= f.text_field :first_name %>

      <label>Apellidos</label>
      <%= f.text_field :last_name %>


      <% if @holder.persisted? %>
      #coocoon



      <% end %>


      <%= submit_tag "Guardar", :class=> "button radius success right" %>
    </fieldset>

<% end %>