<div class="row">
  <h1>
    <%= t('backend.holders')%> (<%= @holders.count %>)
    <%= link_to t('backend.new_holder'), new_holder_path, :class => "button radius warning right" %>
  </h1>
</div>

<table id="listing" class="display" cellpadding="0" width="100%">
  <thead>
  <tr>
    <th><%= t('backend.name')%></th>
    <th><%= t('backend.positions')%></th>
    <th><%= t('backend.contributd_by')%></th>
    <th><%= t('actions')%></th>
  </tr>
  </thead>
  <tfoot>
  <tr>
    <th><%= t('backend.name')%></th>
    <th><%= t('backend.positions')%></th>
    <th><%= t('backend.contributd_by')%></th>
    <th><%= t('actions')%></th>
  </tr>
  </tfoot>
  <tbody>
  <% @holders.each do |h| %>
      <tr>
        <td>
          <p><%= link_to h.full_name_comma, edit_holder_path(h) %></p>
        </td>



        <td>
          <% h.positions.current.each do |p| %>


              <%= p.title %> (<%= p.from.strftime(t('backend_general.short_date')) %> )<br>
          <% end %>
        </td>

        <td>
          <% h.users.each do |u| %>

              <%= link_to u.full_name_comma, edit_user_path(u)  %><br>


          <% end %>


        </td>

        <td><%= link_to "Edit", edit_holder_path(h)  %> · Delete</td>

      </tr>
  <% end %>
  </tbody>
</table>

<%= javascript_include_tag 'admin_listings' %>

