<h3><%= @holder.full_name_comma %></h3>
<%= link_to t('backend.edit'), edit_holder_path(@holder), :class=> "button tiny radius success" if can? :update, Holder%>
<%= link_to t('backend.cancel'), holders_path , :class=> "button tiny radius" %>
<fieldset>
  <legend><%= t('backend.basic_data') %></legend>
  <p><strong><%= t('backend.first_name') %>:</strong> <%= @holder.first_name %></p>
  <p><strong><%= t('backend.last_name') %>:</strong> <%= @holder.last_name %></p>
  <p><strong><%= t('backend.agenda') %>:</strong>
  <%= link_to agenda_url(@holder.id, @holder.full_name.parameterize), agenda_url(@holder.id, @holder.full_name.parameterize), target: :blank %></p>
</fieldset>
<fieldset>
  <legend><%= t('backend.positions') %></legend>
  <div class="row">
    <div class="small-2 columns"><strong><%= t('backend.from') %></strong></div>
    <div class="small-2 columns"><strong><%= t('backend.to') %></strong></div>
    <div class="small-4 columns"><strong><%= t('backend.position') %></strong></div>
    <div class="small-4 columns"><strong><%= t('backend.area') %></strong></div>
  </div>
  <% @holder.positions.each do |position| %>
  <div class="row">
    <div class="small-2 columns"><%= show_date(position.from) %></div>
    <div class="small-2 columns"><%= show_date(position.to) %></div>
    <div class="small-4 columns"><%= position.title %></div>
    <div class="small-4 columns"><%= position.area.title %></div>
  </div>
  <% end %>
</fieldset>

