<header class="results">
  <section class="top-links">
    <div class="row">
      <div class="locale">
    <span class="inline-block">
      <i class="icon-language"></i>
      <%= t("language")%>:
    </span>
        <form class="locale-form">
          <select class="js-location-changer locale-switcher" name="locale-switcher">
            <option value="/admin/tags?locale=en">
              <%= t("english")%>
            </option>
            <option selected value="/admin/tags?locale=es">
              <%= t("spanish")%>
            </option>
          </select>
        </form>
      </div>

    </div>
  </section>

  <div class="contain-to-grid clear">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <%= link_to root_path do %>
              <%= image_tag('madrid.png', class: 'left', size: '96x96') %>
              <%= t("open_goverment") %> <span>|</span> <span class="logo-site"><%= t("backend.header.administration") %></span>
          <% end %>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <li>
            <a href="/account"><%= t("backend.header.account")%></a>
          </li>
          <li>
            <%= link_to( t("backend.header.exit"), destroy_user_session_path, method: :delete) %>
          </li>
        </ul>
      </section>
    </nav>
  </div>
</header>
