<nav class="admin-sidebar">
  <ul id="admin_menu">
    <li>
      Administración
    </li>
    <% if current_user.admin? %>
    <li class="<%= active_menu('users') %>">
      <a href="<%= users_path %>">
        <i class="fi-results-demographics size-18"> <%= t("backend.users")%></i>
      </a>
    </li>
    <% end %>
    <li class="<%= active_menu('events') %>">
      <a href="<%= events_path %>">
        <i class="fi-calendar size-18"> <%= t("backend.events")%></i>
      </a>
    </li>
    <% if current_user.admin? %>
    <li class="<%= active_menu('admin/organizations') %>">
      <a href="<%= admin_organizations_path %>">
        <i class="fi-book size-18"> <%= t("backend.companies")%></i>
      </a>
    </li>
    <% end %>
    <% if current_user.admin? %>
    <li class="<%= active_menu('areas') %>">
      <a href="<%= areas_path %>">
        <i class="fi-web size-18"> <%= t("backend.areas")%></i>
      </a>
    </li>
    <% end %>
    <% if current_user.admin? %>
    <li class="<%= active_menu('admin/questions') %>">
      <a href="<%= admin_questions_path %>">
        <i class="fi-lightbulb size-18"> <%= t("backend.questions")%></i>
      </a>
    </li>
    <% end %>
    <% if current_user.admin? %>
    <li class="<%= active_menu('holders') %>">
      <a href="<%= holders_path %>">
        <i class="fi-address-book size-18"> <%= t("backend.positions")%></i>
      </a>
    </li>
    <% end %>
    <% if current_user.admin? %>
    <li class="<%= active_menu('activities') %>">
      <a href="<%= activities_path %>">
        <i class="fi-page-multiple size-18"> <%= t("backend.activity")%></i>
      </a>
    </li>
    <% end %>
    <% if current_user.admin? %>
    <li class="<%= active_menu('import') %>">
      <span href="<%= import_path %>" data-confirm="<%= t("backend.confirm") %>">
        <i class="fi-rss size-18"> <%= t("backend.sync")%></i>
      </span>
    </li>
    <% end %>
    <li>
      <%= link_to root_path, target: :blank do %>
          <i class="fi-arrow-right size-18"> <%= t("backend.frontend")%></i>
      <% end %>
    </li>
    <li class="<%= active_menu('users/registrations') %>">
      <%= link_to edit_password_path do %>
          <i class="fi-key size-18"> <%= t("backend.change_password")%></i>
      <% end %>
    </li>
    <li>
      <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fi-arrow-left size-18">
          <%= t("backend.logout")%>
           - (<%= current_user.full_name%>)
          </i>
      <% end %>
    </li>
  </ul>
</nav>
