<nav class="admin-sidebar mb40">
  <ul id="admin_menu">
    <li>
      <% if current_user.admin? %>
        <%= t('backend.menu_admin') %>
      <% elsif current_user.lobby? %>
        <%= t('backend.menu_lobby') %>
      <% else %>
        <%= t('backend.menu_user') %>
      <% end %>
    </li>
    <% if current_user.admin? %>
    <li class="<%= active_menu('users') %>">
      <a href="<%= users_path %>">
        <i class="fi-results-demographics size-18"> <%= t("backend.users")%></i>
      </a>
    </li>
    <% end %>
    <% if current_user.user? %>
      <li class="<%= active_menu('events', nil, 'events') %>">
        <a href="<%= events_path(event_fixed_filters['events']) %>">
          <i class="fi-book size-18"> <%= t("backend.events") %></i>
        </a>
      </li>
    <% else %>
      <li class="<%= active_menu('events') %>">
        <a href="<%= @events_path %>">
          <i class="fi-calendar size-18">
            <%= t("organizations.show.events_title") %>
          </i>
        </a>
      </li>
    <% end %>
    <% if current_user.admin? %>
      <li class="<%= active_menu('admin/organizations') %>">
        <a href="<%= admin_organizations_path %>">
          <i class="fi-book size-18"> <%= t("backend.companies")%></i>
        </a>
      </li>
    <% elsif current_user.lobby? %>
      <li class="<%= active_menu('admin/agents', 'index') %>">
        <%= link_to admin_organization_agents_path(current_user.organization) do %>
          <i class="fi-plus size-18"> <%= t("backend.edit_agents") %></i>
        <% end %>
      </li>
      <li class="<%= active_menu('admin/organizations/interests', 'index') %>">
        <%= link_to admin_organization_interests_path(current_user.organization) do %>
          <i class="fi-plus size-18"> <%= t("backend.add_interests") %></i>
        <% end %>
      </li>
      <li class="<%= active_menu('admin/organizations', 'show') %>">
        <a href="<%= admin_organization_path(id: current_user.organization_id) %>">
          <i class="fi-book size-18"> <%= t("backend.show_company") %></i>
        </a>
      </li>
    <% end %>
    <% if current_user.user? %>
      <li class="<%= active_menu('events', nil, 'tray') %>">
        <a href="<%= @events_path %>">
          <i class="fi-calendar size-18">
            <%= t("backend.event_tray") %>
          </i>
        </a>
      </li>
    <% end %>
    <% if current_user.admin? %>
      <li class="<%= active_menu('areas') %>">
        <a href="<%= areas_path %>">
          <i class="fi-web size-18"> <%= t("backend.areas")%></i>
        </a>
      </li>
    <% end %>
    <% if current_user.admin? %>
      <li class="<%= active_menu('admin/questions') %>">
        <a href="<%= admin_questions_path %>">
          <i class="fi-lightbulb size-18"> <%= t("backend.faq.questions")%></i>
        </a>
      </li>
    <% end %>
    <% if current_user.admin? %>
      <li class="<%= active_menu('holders') %>">
        <a href="<%= holders_path %>">
          <i class="fi-address-book size-18"> <%= t("backend.positions")%></i>
        </a>
      </li>
    <% end %>
    <% if current_user.admin? %>
      <li class="<%= active_menu('activities') %>">
        <a href="<%= activities_path %>">
          <i class="fi-page-multiple size-18"> <%= t("backend.activity")%></i>
        </a>
      </li>
    <% end %>
    <% if current_user.admin? %>
      <li class="<%= active_menu('import') %>">
        <span href="<%= import_path %>" data-confirm="<%= t("backend.confirm") %>">
          <i class="fi-rss size-18"> <%= t("backend.sync")%></i>
        </span>
      </li>
    <% end %>
    <li>
      <%= link_to root_path, target: :blank do %>
          <i class="fi-arrow-right size-18"> <%= t("backend.frontend")%></i>
      <% end %>
    </li>
    <li class="<%= active_menu('users/registrations') %>">
      <%= link_to edit_password_path do %>
          <i class="fi-key size-18"> <%= t("backend.change_password")%></i>
      <% end %>
    </li>
    <% if current_user.lobby? %>
      <li class="<%= active_menu('organization/edit') %>">
        <%= link_to edit_organization_path, target: "_blank" do %>
            <i class="fi-page-edit size-18"> <%= t("backend.edit_organization")%></i>
        <% end %>
      </li>
    <% end %>
    <% if current_user.lobby? %>
      <li class="<%= active_menu('organization/delete') %>">
        <%= link_to destroy_organization_path, target: "_blank" do %>
          <i class="fi-page-delete size-18"> <%= t("backend.delete_organization")%></i>
        <% end %>
      </li>
    <% end %>
    <li>
      <%= link_to nil, target: "_blank" do %>
        <i class="fi-magnifying-glass size-18"> <%= t("header.btn_help")%></i>
      <% end %>
    </li>
    <li>
      <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fi-arrow-left size-18">
          <%= t("backend.logout")%>
           - (<%= current_user.full_name%>)
          </i>
      <% end %>
    </li>
  </ul>
</nav>
