<footer class="footer" role="contentinfo">
  <div class="row">
    <div class="small-12 medium-4 mb20 columns">
      <strong><%= t('footer.title_first_block') %></strong>
      <p>
        <br />
        <%= t('footer.description_first_block') %>
      </p>
    </div>
    <div class="small-12 medium-4 medium-offset-1 mb20 columns">
      <ul>
        <li>
          <%= link_to t('footer.btn_cover_page'), root_path  %>
        </li>
        <li>
          <%= link_to t('footer.btn_organization'), organizations_path  %>
        </li>
        <li>
          <%= link_to t('footer.btn_human_resources'), nil  %>
        </li>
        <li>
          <%= link_to t('footer.btn_legal_information'), nil  %>
        </li>
        <li>
          <%= link_to t('footer.btn_economy_budgets'), nil  %>
        </li>
        <li>
          <%= link_to t('footer.btn_relationship_citizens'), nil  %>
        </li>
        <li>
          <%= link_to t('footer.btn_environmen_urbanism'), nil  %>
        </li>
        <li>
          <%= link_to t('footer.btn_access_information'), nil  %>
        </li>
      </ul>
    </div>
    <div class="small-12 medium-3 mb20 columns">
      <strong><%= t('footer.title_third_block') %></strong>
      <ul>
        <li>
          <%= link_to 'www.madrid.es', 'http://www.madrid.es', target: 'blank'  %>
        </li>
        <li>
          <%= link_to 'sede.madrid.es', 'http://sede.madrid.es', target: 'blank'  %>
        </li>
        <li>
          <%= link_to 'datos.madrid.es', 'http://datos.madrid.es', target: 'blank'  %>
        </li>
        <li>
          <%= link_to 'decide.madrid.es', 'http://decide.madrid.es', target: 'blank'  %>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer_more_info">
    <div class="row">
      <div class="small-12 medium-4 columns">
        <%= t('footer.footer_more_info.first_block') %>
      </div>
      <div class="small-12 medium-8 columns">
        <ul class="inline-list right">
          <li>
            <%= link_to t('footer.btn_accessibility'), nil  %>
          </li>
          <li>
            <%= link_to t('footer.btn_contact'), nil  %>
          </li>
          <li>
            <%= link_to t('footer.btn_web_map'), nil  %>
          </li>
          <li>
            <%= link_to t('footer.btn_legal_warning'), nil  %>
          </li>
          <li>
            <%= link_to t('footer.btn_privacy_policy'), nil  %>
          </li>
        </ul>
      </div>
    </div>

  </div>

</footer>
