<footer class="footer" role="contentinfo">
  <div class="row">
    <div class="small-12 large-3 mb20 columns">
      <h1 class="title-m"><strong><%= t('header.open_goverment') %></strong></h1>
      <p>
        <%= t('footer.description',
            open_source: link_to(t('footer.open_source'), t('footer.open_source_url'), target: '_blank'),
            consul:  link_to(t('footer.consul'), t('footer.consul_url'), target: '_blank')).html_safe %>
      </p>
    </div>
    <div class="small-12 large-3 mb20 columns">
      <h4 class="title-m">
        <a href="<%= t('header.participation_url') %>" target="_blank"><%= t('header.participation') %></a>
      </h4>
      <p><%= t('footer.participation_text')%></p>
    </div>
    <div class="small-12 large-3 mb20 columns">
      <h4 class="title-m">
        <a href="<%= t('header.transparency_url') %>" target="_blank"><%= t('header.transparency') %></a>
      </h4>
      <p><%= t('footer.transparency_text')%></p>
    </div>
    <div class="small-12 large-3 mb20 columns">
      <h4 class="title-m">
        <a href="<%= t('header.open_data_url') %>" target="_blank"><%= t('header.open_data') %></a>
      </h4>
      <p><%= t('footer.open_data_text')%></p>
    </div>
  </div>
</footer>
