<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Admin</title>

    <%= stylesheet_link_tag    "application_admin" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application_admin", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <link rel="shortcut icon" type="image/x-icon" href="" />
  </head>

  <body class="admin">

    <%= render 'layouts/admin_header' %>
    <%= render  'layouts/admin_messages' %>

    <div class="row">

      <%= render  'layouts/admin_sidebar' %>

      <div class="admin-content small-12 medium-9 column">

        <%= yield %>

      </div>
    </div>
  </body>
</html>
